<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥1098</string>
		<key>arriveTime</key>
		<string>10:30</string>
		<key>departureTime</key>
		<string>07:30</string>
		<key>placeOfDestination</key>
		<string>香港机场 HKG</string>
		<key>placeOfDeparture</key>
		<string>双流机场 CTU T1</string>
		<key>date</key>
		<string>2016-4-16</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>HX453</string>
		<key>company</key>
		<string>香港航空</string>
	</dict>
</array>
</plist>
