<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.Light</key>
	<array>
		<string>RectFillLabel</string>
		<string>LoadingViewController</string>
		<string>SeparatorLabel</string>
		<string>RaceLampView(Objective-C)</string>
	</array>
	<key>2.Middle</key>
	<array>
		<string>CircularRevealTransition</string>
		<string>FadingLabel</string>
		<string>DialogViewController</string>
		<string>CycleThroughView</string>
	</array>
	<key>3.Heavy</key>
	<array>
		<string>PetalLayout</string>
		<string>CircleSlider</string>
		<string>NumbersView(Objective-C)</string>
		<string>CalendarView</string>
	</array>
</dict>
</plist>
